#overview
  %h2 Hypothesis
  %button.but.startButton{:onclick => "renderContentPage()", :type => "button"} Start  

#content
  Stock Symbol:
  %input{:name => "fname", :placeholder => "AAPL", :type => "text"}
    %br
      %button.but{:onclick => "renderChart()", :type => "button"} Look Up
      %button.but{:onclick => "clearChart()", :type => "button"} Clear
      #chartDiv