Stock Symbol:
%input{:name => "fname", :placeholder => "AAPL", :type => "text"}
  %br
    %button{:onclick => "renderChart()", :type => "button"} Look Up
    %button{:onclick => "clearChart()", :type => "button"} Clear
    #chartDiv
.page_content
