<h1>Welcome to StockSquare</h1>
<script src="/assets/application.js"></script>
  Stock symbol: <input type="text" name="fname" placeholder="AAPL"><br>
  <button type="button" onclick="renderChart()">Look Up</button>
  <button type="button" onclick="clearChart()">Clear</button>
<div id="chartDiv"></div>
