%h1
  Welcome to StockSquare
%script{:src => "/assets/application.js"}

Stock <SPAN></SPAN>ymbol:
%input{:name => "fname", :placeholder => "AAPL", :type => "text"}
  %br
    %button{:onclick => "renderChart()", :type => "button"} Look Up
    %button{:onclick => "clearChart()", :type => "button"} Clear
    #chartDiv
